.canvas{
float: left;
border: 1px red;
}
fieldset{
border-radius:10px;
width: 650px;
margin-bottom: 5px;
}
.jcrop-holder{
float: left;
}
a.report{
margin-top:10px;
margin-bottom:10px;
}
form{
margin: 10px;
}
